.active{
    background-color: #F0F0F0
    ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position:sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Soft, thin bottom border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.061); /* Light, subtle shadow */
    padding-bottom: 0.1rem; /* Increase the bottom padding */
    padding-top: 0.5rem; /* Optional: Adjust top padding for balance */
}

nav .nav-title{
  font-size: 1.75rem;
  margin: 1rem;
  margin-left: 2.5rem; /* Moves the title slightly to the right */
  font-weight: bold;
  text-decoration: none;
  color: black;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    margin-right: 2.5rem; /* Moves the title slightly to the left */
}

nav ul li a:not(.active):hover {
    background-color: black;
    color: white; 
}

nav .menu{
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
}

nav .menu span{
    height: 0.1875rem;
    width: 100%;
    background-color: black;
    border-radius: 0.25rem;

}


@media (max-width: 480px){

    .nav-title{
        font-size: 0.5rem;
    }

    nav .menu{
        display: flex;
        margin-top: 0.5rem;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}


